.maincontainer {
    margin: 40px 10px;
    padding: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
  }
  
  #calendar {
    max-width: 800px;
    margin: 0 auto;
    
  }

  .fc-event-title {
    white-space: normal;
  }

  /* #container {
    
  } */
  
  .fc-day-header {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
  }
  .fc-day-top .fc-day-number {
    display: none;
  }
  .fc-day-top .fc-day-number.fc-day-number {
    display: none;
  }
  .fc-day-grid-event {
    white-space: normal !important;
    word-wrap: break-word;
  }