.MuiTablePagination-selectLabel, .MuiTablePagination-displayedRows{
    margin-top: 15px;
}

.activity {
    width: 10%;
}

.empty-activity {
    width: 12%;
}

.group-empty-activity {
    width: 15%;
}

TableCell {
    width: 50%;
}

.create-header {
    line-height: 5rem;
}

.edit-header{
    line-height: 4rem;;
}

#modified-date {
    line-height: 4rem;;
}