#shift-add {
    border: 1px;
    border-color: black;
    border-style: solid;
    margin: 2rem;
}

#error-text {
    color: red;
}

#success-text {
    color: rgb(110, 197, 110);
}

#grid-selector {
    width: 12rem;
    margin-right: 10rem;
}

#grid-input {
    width: 40rem;
}